{% extends "base.html" %}
{% block title %}Editar Ticket{% endblock %}
{% block content %}
    <div class="admin-container">
        <div class="navigation">
            <a href="{{ url_for('home') }}" class="nav-btn">Home</a>
            <a href="{{ url_for('logout') }}" class="nav-btn">Logout</a>
        </div>

        <h1>Editar Ticket</h1>
        <form method="POST" action="{{ url_for('edit_ticket', ticket_id=ticket.id) }}">
            <div class="form-group">
                <label for="concert_name">Evento</label>
                <input type="text" id="concert_name" name="concert_name" value="{{ ticket.concert_name }}" class="form-control">
            </div>

            <div class="form-group">
                <label for="event_name">Nombre</label>
                <input type="text" id="event_name" name="event_name" value="{{ ticket.event_name }}" class="form-control">
            </div>

            <div class="form-group">
                <label for="event_date_time">Fecha y Hora</label>
                <input type="datetime-local" id="event_date_time" name="event_date_time" value="{{ ticket.event_date_time }}" class="form-control">
            </div>

            <h2>Secciones</h2>
            {% for section in sections %}
                <fieldset class="form-group">
                    <legend>Sección {{ loop.index }}</legend>
                    <div class="form-group">
                        <label for="section_id_{{ loop.index }}">ID de la Sección</label>
                        <input type="text" id="section_id_{{ loop.index }}" name="section_id[]" value="{{ section.section_id }}" class="form-control" readonly>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="section_name_{{ loop.index }}">Nombre</label>
                        <input type="text" id="section_name_{{ loop.index }}" name="section_name[]" value="{{ section.section_name }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="ticket_type_{{ loop.index }}">Tipo de Ticket</label>
                        <input type="text" id="ticket_type_{{ loop.index }}" name="ticket_type[]" value="{{ section.ticket_type }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="num_tickets_{{ loop.index }}">Número de Tickets</label>
                        <input type="number" id="num_tickets_{{ loop.index }}" name="num_tickets[]" value="{{ section.num_tickets }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="message_{{ loop.index }}">Mensaje</label>
                        <input type="text" id="message_{{ loop.index }}" name="message[]" value="{{ section.message }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="section_is_purchase_{{ loop.index }}">Comprar Sección</label>
                        <input type="checkbox" id="section_is_purchase_{{ loop.index }}" name="section_is_purchase[]" {% if section.is_purchase %} checked {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="is_all_tickets_available_{{ loop.index }}">Todos los Tickets Disponibles</label>
                        <input type="checkbox" id="is_all_tickets_available_{{ loop.index }}" name="is_all_tickets_available[]" {% if section.is_all_tickets_available %} checked {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="is_presale_{{ loop.index }}">Preventa</label>
                        <input type="checkbox" id="is_presale_{{ loop.index }}" name="is_presale[]" {% if section.is_presale %} checked {% endif %}>
                    </div>
                </fieldset>
            {% endfor %}

            <button type="submit" class="btn">Actualizar</button>
        </form>
    </div>
{% endblock %}
