{% extends "base.html" %}
{% block title %}Administración{% endblock %}
{% block style %}
    <style>
        .flash-messages p {
            background-color: #d4edda; /* Color de fondo verde */
            color: #155724; /* Color del texto */
            padding: 10px;
            border: 1px solid #c3e6cb; /* Borde */
            border-radius: 4px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
<div class="admin-container">

    <h1>Añade, edita o elimina tickets</h1>

    <!-- Formulario de selección de página y botón Filtrar -->
    <form action="/" method="POST" class="ticket-source-container">
        <label style="margin-bottom: 5px;" for="ticket_source">Página</label>
        <select style="margin-right: 15px; margin-top: 5px;" id="ticket_source" name="ticket_source" onchange="updateLink()">
            <option value=''>Todos</option>
            <option value="ticketmaster">Ticketmaster</option>
            <option value="superboletos">Superboletos</option>
        </select>
        <button type="submit" class="filter-btn">Filtrar</button>
        <button>
            <a id="add-ticket-link" href="{{ url_for('create_ticket', source='ticketmaster') }}">Añadir tickets</a>
        </button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Tabla de Tickets Ingresados -->
    <h2>Tickets Ingresados</h2>
    {% if tickets_ingresados %}
        <table class="tickets-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Página</th>
                    <th>Nombre del Concierto</th>
                    <th>Nombre del Evento</th>
                    <th>Fecha del Evento</th>
                    <th>Mes del Evento</th>
                    <th>Hora del Evento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets_ingresados %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.page_name }}</td>
                        <td>{{ ticket.concert_name }}</td>
                        <td>{{ ticket.event_name }}</td>
                        <td>{{ ticket.event_day }}</td>
                        <td>{{ ticket.event_month }}</td>
                        <td>{{ ticket.event_time }}</td>
                        <td>
                            <form action="{{ url_for('edit_ticket', ticket_id=ticket.id) }}" method="get">
                                <button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            </form>
                            <form action="{{ url_for('delete_ticket', ticket_id=ticket.id) }}" method="post">
                                <button type="submit" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay tickets ingresados.</p>
    {% endif %}

    <!-- Tabla de Tickets Completados -->
    <h2>Tickets Completados</h2>
    {% if tickets_completados %}
        <table class="tickets-table1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de la Página</th>
                    <th>Nombre del Concierto</th>
                    <th>Nombre del Evento</th>
                    <th>Fecha del Evento</th>
                    <th>Mes del Evento</th>
                    <th>Hora del Evento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets_completados %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.page_name }}</td>
                        <td>{{ ticket.concert_name }}</td>
                        <td>{{ ticket.event_name }}</td>
                        <td>{{ ticket.event_day }}</td>
                        <td>{{ ticket.event_month }}</td>
                        <td>{{ ticket.event_time }}</td>
                        <td>
                            <form action="{{ url_for('edit_ticket', ticket_id=ticket.id) }}" method="get">
                                <button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            </form>
                            <form action="{{ url_for('delete_ticket', ticket_id=ticket.id) }}" method="post">
                                <button type="submit" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay tickets completados.</p>
    {% endif %}
</div>
{% endblock %}
